{% extends 'home_base.html' %} {% block content %}
<form
	class="login100-form validate-form"
	action="{% url 'reset-user-password' email token %}"
	method="post"
>
	{% csrf_token %}
	<span class="login100-form-title"> Create new password </span>

	<div class="wrap-input100 validate-input" data-validate="Password is required">
		<input
			class="input100"
			type="password"
			name="password1"
			id="password1"
			placeholder="New password"
			required
		/>
		<span class="focus-input100"></span>
		<span class="symbol-input100">
			<i class="fa fa-lock" aria-hidden="true"></i>
		</span>
	</div>

	<div class="wrap-input100 validate-input" data-validate="Password is required">
		<input
			class="input100"
			type="password"
			name="password2"
			id="password2"
			placeholder="Confirm password"
			required
		/>
		<span class="focus-input100"></span>
		<span class="symbol-input100">
			<i class="fa fa-lock" aria-hidden="true"></i>
		</span>
	</div>

	{% if error_message %}
	<p style="color: red; text-align: center">{{error_message}}</p>
	{% endif %}

	<div class="container-login100-form-btn">
		<button class="login100-form-btn" type="submit">Reset Password</button>
	</div>

	{% if success_message %}
	<p style="color: green; text-align: center">{{success_message}}</p>
	{% endif %}
</form>
{% endblock content %}
