{% extends 'base.html' %} {% block content %}
<div>
  <style>
    .form-signin {
      width: 100%;
      max-width: 330px;
      padding: 15px;
      margin: auto;
    }
    .form-signin .form-control {
      position: relative;
      box-sizing: border-box;
      height: auto;
      padding: 10px;
      font-size: 16px;
    }
    .form-signin .form-control:focus {
      z-index: 2;
    }
    .form-signin input[type="email"] {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    .form-signin input[type="password"] {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    .h3 {
      text-align: center;
    }
  </style>

  <h1 class="h3 mb-3 font-weight-normal">
    Please Enter email address. You will get an password reset link if it is
    valid
  </h1>
  <form class="form-signin" method="post">
    {% csrf_token %}
    <input
      name="email"
      type="email"
      id="inputEmail"
      class="form-control"
      placeholder="Email address"
      required
      autofocus
    />
    <button class="btn btn-lg btn-primary btn-block" type="submit">
      Send Link
    </button>
    {% if success_message %}
    <p style="color: green; text-align: center">{{success_message}}</p>
    {% endif %}
  </form>
</div>
{% endblock content %}
