{% extends 'base.html' %} {% block content %}
<div>
  <style>
    .form-signin {
      width: 100%;
      max-width: 330px;
      padding: 15px;
      margin: auto;
    }
    .form-signin .form-control {
      position: relative;
      box-sizing: border-box;
      height: auto;
      padding: 10px;
      font-size: 16px;
    }
    .form-signin .form-control:focus {
      z-index: 2;
    }
    .form-signin input[type="email"] {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    .form-signin input[type="password"] {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    .h3 {
      text-align: center;
    }
  </style>

  <h1 class="h3 mb-3 font-weight-normal">Please Enter your New Password.</h1>
  <form
    class="form-signin"
    action="{% url 'reset-user-password' email token %}"
    method="post"
  >
    {% csrf_token %}
    <input
      name="password1"
      type="password"
      id="password1"
      class="form-control"
      placeholder="New Password"
      required
      autofocus
    />
    <input
      name="password2"
      type="password"
      id="password2"
      class="form-control"
      placeholder="Confirm Password"
      required
      autofocus
    />
    {% if error_message %}
    <p style="color: red; text-align: center">{{error_message}}</p>
    {% endif %}
    <button class="btn btn-lg btn-primary btn-block" type="submit">
      Reset Password
    </button>
    {% if success_message %}
    <p style="color: green; text-align: center">{{success_message}}</p>
    {% endif %}
  </form>
</div>
{% endblock content %}
